<div class="row">
    <div class="col-sm-8">

    </div>
    <div class="col-sm-4">
        <p class="h4"><%= @profile.full_name %></p>
        <p><%= @profile.username %></p>
        <p>I love cheese and all things rainbow; rainbow cheese, however sounds like a bad time. Memes are awesome. Coding memes are the goods. Coding is rad. Laptop, banana, lumberjack, how's my bio? Cats, puppies and all things cute are my jam.

        <p>Cake Day: <%= @profile.created_at.strftime("%d/%m/%Y") %></p>
    </div>
</div>